<ion-content class="ion-padding login-content">

  <div class="login-container">

    <div class="avatar">
      <img src="../../assets/icon/avatar.png" alt="Icono_Persona">
    </div>

    <div class="formulario">
      <!-- NOMBRE DEL USUARIO -->
      <ion-item class="orden_input">
        <img src="../../assets/icon/icono_usuario.png" alt="nombre_icon">
        <ion-input placeholder="Nombre..." [(ngModel)]="nombre" type="text" name="Nombre"></ion-input>
      </ion-item>
      <!-- APELLIDO DEL USUARIO -->
      <ion-item class="orden_input">
        <img src="../../assets/icon/icono_usuario.png" alt="apellido_icon">
        <ion-input placeholder="Apellido..." [(ngModel)]="apellido" type="text" name="apellido"></ion-input>
      </ion-item>
      <!-- CORREO ELECTRONICO -->
      <ion-item class="orden_input">
        <img src="../../assets/icon/icono_gmail.png" alt="usuario_icon">
        <ion-input placeholder="Correo electrónico" [(ngModel)]="email" type="email" name="usuario"></ion-input>
      </ion-item>
      <!-- CONTRASEÑA -->

      <ion-item class="orden_input">
        <img src="../../assets/icon/icono_candado.png" alt="icono_candado">
        <ion-input  placeholder="Contraseña" [(ngModel)]="password"
          type="password" name="password" required>
        </ion-input>        
      </ion-item>

      <!-- VERIFICAR CONTRASEÑA -->
      <ion-item class="orden_input">
        <img src="../../assets/icon/icono_candado.png" alt="icono_candado">
        <ion-input  placeholder="Verificar contraseña" [(ngModel)]="confirmPassword"
          type="password" name="confirmPassword" required>
        </ion-input> 
      </ion-item>
      <a class="texto_tener_login" href="/login">
        <p>¿Ya tienes una cuenta? ¡Inicia sesion!</p>
      </a>
      <!-- BOTON REGISTRAR -->
      <ion-button expand="full" (click)="register()" class="ion-margin-top login-button">Registrarse</ion-button>

      <ion-text color="danger" *ngIf="errorMessage">
        <p>{{ errorMessage }}</p>
      </ion-text>

    </div>

  </div>

</ion-content>
<ion-button  (click)="irMenu()">dirigir a menu</ion-button>
